*body{
      
margin:0;
padding:0;
box-sizing: border-box;
}

body { 
      /*
       background-image: url(./assets/Background.png
       background-repeat: no-repeat;
       background-posicition: top center;
       background-size: cover;
      */

     /*background: color image repeat position/size; */
     background: url('./assets/Background.png') no-repeat top center / cover;
   }

body *{
      font-family: 'inter', sans-serif;
      color: #6614e8;
}


  #container{
      width: 360px;
      border: 1px solid rgb(79, 7, 235);
      margin: auto;
  }

  #profile{
      text-align: center;
  }
          
  #profile img {
      width: 112px;
      margin: auto;
  }
      
  #profile p{
      font-weight: 500;
      line-height: 24px;
  }


  .instagram {

    color: rgb(39, 106, 222);
  }